/* Base font size for the document */
html {
    font-size: 1.5vw; /* 2% of the viewport width */
}

/* Adjust font size for smaller screens */
@media (max-width: 600px) {
    html {
        font-size: 1vw; /* 4% of the viewport width */
    }
}

/* Adjust font size for larger screens */
@media (min-width: 1200px) {
    html {
        font-size: 1vw; /* 1.5% of the viewport width */
    }
}

/* Example of applying responsive font size to elements */
body, h1, h2, h3, h4, h5, h6, p, .logo-text, #region-name-div h3, #sidebar h3 {
    font-size: 1rem; /* Use the base font size defined in html */
}

/* Font settings */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../webfonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../webfonts/Montserrat-Bold.ttf') format('truetype');
}

body, .logo-text {
    font-family: 'Montserrat', sans-serif;
}

/* Layout settings */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    flex-direction: column;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Info div */
#info-div {
    background-color: rgba(255, 255, 255, 1);
    color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: justify;
}

#info-div p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

/* Upload div */
#upload-div {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#upload-div button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-div button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#upload-div button:hover:not(:disabled) {
    background-color: #0056b3;
}

/* Greetings */
#greetings {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #275892;
}

/* Letter text */
#letter-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 2em; /* Add indentation for the first line of each paragraph */
    margin-top: 1em; /* Add margin before the text */
}

/* Developer name */
#developer-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: 1rem;
    color: #275892;
    margin-top: 10px;
}

/*!* Left sidebar *!*/
#left-sidebar {
    width: 20%;
    height: 83%;
    position: relative;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0.5vw;
    overflow-y: auto;
    z-index: 1000;
}

#left-sidebar th {
    background-color: rgba(204, 210, 217, 255);
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

/* Ensure consistent table layout and cell styling */
#left-sidebar table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure consistent cell width */
}

#left-sidebar th, #left-sidebar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: middle; /* Ensure vertical alignment */
    word-wrap: break-word; /* Ensure text wraps within cells */
}

#left-sidebar tbody tr:nth-child(odd) {
    background-color: #fff;
}

#left-sidebar tbody tr:nth-child(even) {
    background-color: rgba(204, 210, 217, 255);
}

/* General divs */
#general-study-div,
#general-informational-div,
#general-communication-div,
#general-energy-div,
#general-software-div {
    margin-left: 0.5vw;
    margin-top: 0.65vw;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 1px;
}

/* General tables */
#general-study-table,
#general-informational-table,
#general-communication-table,
#general-energy-table,
#general-software-table {
    width: 100%;
    border-collapse: collapse;
}

#general-study-table th,
#general-informational-table th,
#general-communication-table th,
#general-energy-table th,
#general-software-table th {
    font-weight: bold;
    text-align: center;
}

#general-study-table td,
#general-informational-table td,
#general-communication-table td,
#general-energy-table td,
#general-software-table td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: left;
    font-size: 0.85rem;
}
#general-study-table td:nth-child(2),
#general-informational-table td:nth-child(2),
#general-communication-table td:nth-child(2),
#general-energy-table td:nth-child(2),
#general-software-table td:nth-child(2) {
    text-align: center;
}


/* General ammunition div */
#general-ammunition-div {
    position: absolute;
    bottom: 0;
    left: 0.3%;
    width: 33%;
    height: 17%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
    overflow-y: auto;
    z-index: 1000;
}

#general-ammunition-table {
    width: 100%;
    border-collapse: collapse;
}

#general-ammunition-table th,
#general-ammunition-table td {
    background-color: rgba(78, 148, 218, 255); /* Custom background color */
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd; /* Add border for better separation */
    padding: 8px; /* Add padding for spacing */
}

/* Software div */
#software-div {
    display: none;
    position: absolute;
    top: 15%;
    left: 20px; /* 20% width of left-sidebar + 20px margin */
    width: 33%;
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    padding: 1px;
    overflow-y: auto;
    z-index: 1000;
}

#software-table {
    width: 100%;
    border-collapse: collapse;
}

#software-table th,
#software-table td,
#study-table th,
#study-table td,
#informational-table th,
#informational-table td,
#communication-table th,
#communication-table td,
#energy-table th,
#energy-table td {
    background-color: rgba(153, 196, 240, 255);
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    font-size: 0.85rem;
}

#software-table th {
    background-color: rgba(88, 159, 229, 255);
    font-weight: bold;
    text-align: center;
}

/* Map container */
#map-container {
    position: relative;
    width: 60%;
    height: 100vh;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0; /* Lower z-index for the map */
    background-color: rgba(255, 255, 255, 255);
}

/* General div */
#general-div {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#general-div > div {
    margin-bottom: 10px; /* Add spacing between the divs */
    width: 100%; /* Ensure each div takes full width */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1px;
}

#study-div,
#informational-div,
#communication-div,
#energy-div {
    display: block; /* Ensure divs are displayed */
    width: 100%; /* Ensure each div takes full width */
    height: auto;
    position: relative; /* Change to relative to avoid absolute positioning issues */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px 0; /* Add vertical margin for spacing */
    opacity: 0.8;
    z-index: 1001; /* Ensure it stays on top */
    padding: 1px; /* Add padding for spacing */
}

#study-table,
#informational-table,
#communication-table,
#energy-table {
    width: 100%;
    border-collapse: collapse;
}

#study-table th,
#informational-table th,
#communication-table th,
#energy-table th,
#study-table td,
#informational-table td,
#communication-table td,
#energy-table td {
    background-color: rgba(153, 196, 240, 255);
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    font-size: 0.85rem;
}

#study-table th,
#informational-table th,
#communication-table th,
#energy-table th {
    background-color: rgba(88, 159, 229, 255);
    font-weight: bold;
    text-align: center;
}

#study-table td:nth-child(2),
#informational-table td:nth-child(2),
#communication-table td:nth-child(2),
#energy-table td:nth-child(2),
#software-table td:nth-child(2) {
    text-align: center;
}



/* Logo container */
#logo-container {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 5px; /* Add padding for spacing */
    background-color: rgba(255, 255, 255, 0.4); /* Set background color */
    border-radius: 8px; /* Round the corners */
    height: 10vh;
    width: 10vw;
}

#logo-container img {
    width: 40%;
    height: auto;
    margin-right: 5px;
}

.logo-text {
    font-weight: 800;
    color: #275892;
    text-align: left;
    font-size: 0.85vw;
}

/* Sidebar */
#sidebar {
    width: 20%;
    height: 100%; /* Adjust to give room for rounded corners */
    padding: 10px;
    background-color: #bedfff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-y: auto;
    border: 2px solid #275892;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for appeal */
    margin: 0; /* Space around sidebar for rounded corners */
}

#sidebar h3 {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    font-weight: 300; /* Decrease font weight */
    color: #000; /* Text color */
    text-align: left; /* Align text to the left */
    margin: 0 0 0 10px; /* Add left margin */
    padding: 10px 0; /* Add padding for spacing */
    font-size: 14px; /* Decrease font size */
}

/* Region list */
#region-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#region-list li {
    padding: 10px;
    font-size: 0.85rem;
    margin: 0 0;
    border: 1px solid #5597d3;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #275892;
    font-weight: 700;
    text-align: left;
}

#region-list li:nth-child(odd) {
    background-color: rgba(65, 164, 255, 255);
}

#region-list li:nth-child(even) {
    background-color: rgba(160, 209, 255, 255);
}

#region-list li:hover {
    color: #007BFF;
    text-decoration: underline;
    background-color: #a2d8ff; /* Slightly lighter shade on hover */
}

/* Region name div */
#region-name-div {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 10%;
    background-color: rgba(208, 226, 245, 255);
    border: 1px solid #5597d3; /* Stroke color */
    border-radius: 0; /* Rounded corners */
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow */
    z-index: 1001; /* Ensure it's above the map */
    padding: 4px; /* Adds padding around content */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    color: #275892;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#region-name-div h3 {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    font-weight: 500;
    color: #000; /* Change text color to black */
    font-size: 1.8rem; /* Increase font size */
    text-shadow: none; /* Remove text strokes */
    text-align: center; /* Center text horizontally */
    margin: 0; /* Reset default margin */
    padding: 10px 0; /* Add padding for spacing */
}

/* Resources header */
#resources-header {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    background-color: rgba(22, 96, 130, 255);
    color: white;
    padding: 6px; /* Optional: Add padding for spacing */
    text-align: center; /* Center text horizontally */
    margin-left: 0.5vw;
    font-weight: 900 !important;
    font-size: 2rem !important;
}

#resources-header h3 {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    background-color: rgba(22, 96, 130, 255);
    color: white;
    font-weight: 900 !important;
    font-size: 1.2rem !important;
}