/* Font settings */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('webfonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('webfonts/Montserrat-Bold.ttf') format('truetype');
}

body, .logo-text {
    font-family: 'Montserrat', sans-serif;
}

/* Layout settings */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Main map container to occupy 75% of the screen */
#map-container {
    width: 75%;
    height: 100vh;
    position: relative;
}

/* Sidebar styling */
#sidebar {
    width: 25%;
    height: 100vh;
    padding: 20px;
    background-color: #bedfff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-y: auto;
    border-left: 1px solid #5597d3;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for appeal */
}

/* List container styling */
#region-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Letterbox styling for each list item */
#region-list li {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #5597d3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #275892;
    font-weight: 700;
    text-align: center;
}

/* Background colors for alternating items */
#region-list li:nth-child(odd) {
    background-color: #7bbfff;
}

#region-list li:nth-child(even) {
    background-color: #bedfff;
}

/* Hover effect for each item */
#region-list li:hover {
    color: #007BFF;
    text-decoration: underline;
    background-color: #a2d8ff; /* Slightly lighter shade on hover */
}

/* Styling for the map */
#map {
    width: 100%;
    height: 100%;
}

/* Container for logo and text */
.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px; /* Add padding for spacing */
    background-color: rgba(251, 244, 236, 0.7); /* Set background color */
    border-radius: 8px; /* Round the corners */
}

.logo-container img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.logo-text {
    font-weight: 700;
    color: #275892;
    text-align: left;
}

